$primary_color: #ffffff;
$p_color: #727272;
$font_family: 'Raleway', sans-serif, FontAwesome ;


body {
	font: 18px/30px $font_family;
	color: $p_color;
	background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font: 48px/60px $font_family;
	color: black;
	font-weight: 400;
}

h2 {
	font: 36px/36px $font_family;
	color: black;
	font-weight: 700;
}

h3 {
	font: 30px/30px $font_family;
	color: black;
	font-weight: 600;
}
h4 {
	font: 18px/18px $font_family;
	color: black;
	font-weight: 600;
}
h5 {
	font: 14px/14px $font_family;
	color: black;
	font-weight: 600;
}
h6 {
	font: 12px/12px $font_family;
	color: black;
	font-weight: 600;
}
img {
  	display: block;
 	height: auto;
  	max-width: 100%;
  	vertical-align: middle;
}
p {
	font-size: 10px;
	color: #727272;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	padding: 0;
}

.header-wrap {
	background: #f9f01c;
	position: fixed;
	top: 0;
	z-index: 999;
	left: 0;
	right: 0;
}

.site-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0 15px 0 15px;
	
	.site-top__login {
		@media (max-width: 578px) { 
				padding-right: 15px;
			}
		.toggle_cont {
			position: absolute;
			top: 30px;
			right: 0;
			width: 150px;
			background: #333;
			display: flex;
			z-index: 100;
			justify-content: space-between;
			li {
				display: flex;
				flex-flow: column;
				padding:0 5px;
				a {
					display: block;
					color: #fff;
					padding: 0;
				}
				a:hover {
					color: #c3e1bd;
				}
				a:active {
					text-decoration: none;
					color: #c3e1bd;
				}
			}
		}
		a {
			padding-left: 12px;
			font-size: 12px;
			color: #000;
			text-transform: capitalize;
			transition: all 0.5s ease;
		}
		a:hover {
			opacity: 0.5;
			text-decoration: none;
		}
		a:focus {
			opacity: 0.5;
			text-decoration: none;
		}
	}
}
.main-menu {
	position: relative;
	&__icon {
		position: absolute;
		display: block;
		width: 30px;
		height: 35px;
		top: -15px;
		left: 0;
		cursor: pointer;
		z-index: 2;
		@media (max-width: 578px) { 
				left: 20px;
			}
		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: #333333;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2), &:nth-child(3) {
				top: 13px;
			}

			&:nth-child(4) {
				top: 26px;
			}
		}
	}

	&__links {
		position: absolute;
		top: 15px;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		padding: 0 60px 0 0 ;
		list-style: none;
		margin: 0;
		display: none;
		flex-flow: column wrap;
		justify-content: flex-end;
		align-self: center;
		z-index: 1;
		@media (max-width: 768px) { 
				padding: 0;
			}
		li {
			padding-right: 0;

		}
	}

	&__links-item {
		padding: 10px 0;
		position: relative;
		z-index: 1;
		> a {
			color: #000;
    		font-size: 10px;
    		line-height:40px;
    		font-weight: bold;
    		padding: 0 20px 0 0;
    		text-transform: uppercase;
    		transition: all 0.5s ease;
    		@media (max-width: 768px) { 
				color: #fff;
			}
		}
		> a:hover {
			opacity: 0.5;
			text-decoration: none;

		}
		> a:focus {
			opacity: 0.5;
			text-decoration: none;
		}
			.sub-menu {
				list-style: none;
				padding: 20px;
				margin: 0;
				position: absolute;
				background: #fff;
				width: 100%;
				top: 100%;
				left: 0;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
				display: flex;
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
				justify-content: space-between;
				transition: opacity 0.3s ease-in-out,
				visibility 1s ease-in-out;
				z-index:1000;
				@media (max-width: 768px) { 
					color: #fff;
					background: #333;
					width: 300px;
				}	
				> li {
					display: flex;
					flex-flow: column;
					a {
						font-size: 12px;
						line-height: 30px;
						color: #c3e1bd;
						text-transform: capitalize;
						@media (max-width: 768px) { 
							color: #fff;
						}	
					}
					a:hover {
						color: #000;
						text-decoration: none;
						@media (max-width: 768px) { 
							background: #c3e1bd;
						}	
					}
					a:focus {
						color: #000;
						text-decoration: none;
					}
				}
				.brand {
					font-size: 14px;
					color: #000;
					text-transform: capitalize;
					padding-bottom: 15px;
					@media (max-width: 768px) { 
							color: #fff;
							padding: 0;
							font-size: 12px;
					}	
				}
				.brand:hover {
					color: #c3e1bd;
					@media (max-width: 768px) { 
							color: #000;
					}	
				}
				.brand:focus {
					color: #c3e1bd;
					@media (max-width: 768px) { 
							color: #000;
					}	
				}
			}

		&:hover {
			z-index: 2;
			.sub-menu {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
	&.menu_state_open {
		z-index: 1000;
		.main-menu__links{
			display: flex;
			@media (max-width: 768px) { 
				width: 300px;
				background: #333;	
			}
		}
		.main-menu__icon {
			span {
				&:nth-child(1) {
				  top: 18px;
				  width: 0%;
				  left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 18px;
					width: 0%;
					left: 50%;
				}

			}
		}

		.sub-menu {
			//opacity: 1;
			//visibility: visible;
			@media (max-width: 769px) { 
					flex-flow: column;

			}
		}
		
	}


	@media (min-width: 768px) {

		.main-menu__icon {
			display: none;
		}

		.main-menu__links {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			background-color: transparent;

			.main-menu__links-item {
				position: static;
			}


			.sub-menu {
				position: absolute;

			}
		}

	}


}
.site-logo {
	background: #fff;
	padding: 0;
	padding-top: 60px;
	.site-logo__logo-info {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 769px) {
			flex-flow: column;
		}
		.logo-info__left {
			display: flex;
			a {
				font-size: 12px;
				color: #c3e1bd;
				transition: all 0.5s ease;
			}
			a:hover {
				text-decoration: none;
				color: #333;
			}
			a:focus {
				text-decoration: none;
				color: #333;
			}
			span {
				padding-left: 5px;
			}
			.btn-group {
				display: flex;
				flex-flow: column;
				a {
					padding: 6px 0
				}
				.toggle_cont {
					position: absolute;
					top: 30px;
					width: 150px;
					background: #333;
					display: flex;
					z-index: 100;
					justify-content: space-between;
					li {
						display: flex;
						flex-flow: column;
						padding:0 5px;
						a {
							display: block;
							color: #fff;
							padding: 0;
						}
						a:hover {
							color: #c3e1bd;
						}
						a:active {
							text-decoration: none;
							color: #c3e1bd;
						}
					}
				}
			}
			.toggle-wrap {
					padding-right: 20px;
				}
		}
		.logo-info__center {
			h3 {
				line-height: 35px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		.logo-info__right {
			display: flex;
			a {
				font-size: 14px;
				cursor: pointer;
				transition: all 0.5s ease;
				color: #727272;
			}
			a:hover {
				color: #c3e1bd;
			}
			span {
				font-size: 12px;
				padding-left: 5px;
			}
			a:focus {
				color: #c3e1bd;
			}
			.logo-info__right-cart {
				padding-right: 20px;
				.toggle_cont {
					position: absolute;
					top: 30px;
					right: 0;
					width: 150px;
					background: #333;
					display: flex;
					z-index: 100;
					justify-content: space-between;
					li {
						display: flex;
						flex-flow: column;
						padding:0 5px;
						p {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
//*************SLIDER    *************// 
#block-for-slider {
    width: 100%;
    margin: 0 auto;
}

#viewport {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    @media (max-width: 980px) {
    	  height: 450px;
    	}
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);

}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
	position: relative;
    width: calc(100%/4);
    height: 600px;
    list-style: none;
    display: inline;
    float: left;
    background-position: 624px center;
    @media (max-width: 980px) {
    	  height: 450px;
    	}
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	}	
    .slide__content {
    	z-index: 2;
    	max-width: 350px;
    	position: absolute;
    	top:20%;
    	left: 25%;
    	@media (max-width: 980px) {
    	  left: 10%;
    	  top: 10%;
    	}
    	li {
    		justify-content: center;
    		align-items: center;
    		align-content: center;
    	}
    	h5 {
    		text-transform: uppercase;
    		font-weight: bold;
    		padding-bottom: 35px;
    		@media (max-width: 980px) {
		    	padding-bottom: 15px;
    		}
    	}
    	h1 {
    		text-transform: uppercase;
    		font-weight: 500;
    	}
    	h3 {
    		text-transform: uppercase;
    		padding-bottom: 35px;
    		@media (max-width: 980px) {
		    	padding-bottom: 15px;
    		}
    	}
    	p {
    		font-size: 18px;
    		padding-bottom: 35px;
    	}
    	.button {
    		@media (max-width: 500px) {
    			padding: 0;
    			font-size: 10px;
    			max-width: 80px;
    		}
    	}
    }
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#prev-next-btns {
	i {
		width: 29px;
		height: 29px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
#prev-btn, #next-btn {
    position: absolute;
    top: calc(100% - 60px);
    
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: calc(50% - 30px);
    

}

#next-btn {
    right: calc(50% - 30px);
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

//******************************//


main {
	.section1 {
		background: #f4f4f4;
		.section1__content {
			padding: 100px 0;

			.content__top {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				padding: 0 0 100px 0;

				h5 {
					padding-bottom: 40px;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
				}
				p {
					text-align: center;
					padding-top: 40px;
					font-size: 18px;
					@media(max-width: 575px) {
						font-size: 18px;
					}

				}
				h1 {
					text-align: center;
				}

			}
			.content__bottom {
				display: flex;
				.content__bottom-info{
					display: flex;
					position: relative;
					@media (max-width: 768px) {
						padding-bottom: 20px;
					}
				}
				.circle {
					position: absolute;
					left: 20px;
					z-index: 1;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					background: #f9f01c;
					display: inline-block;
				}
				.content__bottom-icon {
					z-index: 2;
					font-size: 60px;
					padding: 10px 15px 0 0;
				}
				.content__bottom-text {
					z-index: 2;
					h3 {
						font-size: 24px;
						text-transform: uppercase;
						padding-bottom: 15px;
					}
					p {
						font-size: 15px;
						line-height: 25px;
					}
				}
			}
		}
	}
		
}
.section2 {
	.section2__content {
		margin: 100px 0;
		.section2__content-text {
			display: flex;
			flex-flow: column;
			@media (max-width: 768px) {
					text-align: center;
					align-items: center;
				}
			h5 {
				font-weight: bold;
				padding-bottom: 45px;
			}
			h1 {
				text-transform: capitalize;
				padding-bottom: 45px;
			}
			p {
				font-size: 18px;
				padding-bottom: 45px;
			}
			a {

			}
		}
	}
}
.section3 {
	.row-inner {
		width: 100%;
	}
	ul {
		list-style: none outside none;
		padding-left: 0;
	}
	.gallery li {
		display: block;
		float: left;
		width: 33.3333%;
	}
	.gallery li a {
		width: 100%;
	}
	.gallery li a img {
		width: 100%;
		object-fit: cover;
	}
	 
	.test {
		background: none repeat scroll 0 0 #fff;
		left: 500px;
		position: absolute;
		top: 100px;
	}
	
	.lg-thumb[href] {
	  	position: relative;
	  	display: inline-block; 
	}

	.lg-thumb[href]:after {
	  	position: absolute;
	  	top: 0;
	  	bottom: 0;
	  	right: 0;
	  	left: 0;
	  	/* content: ''; */
	  	transition: .3s ease-in;
	}

	.lg-thumb[href]:before {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	padding-left: 22px;
	  	padding-top: 22px;
	 	transform: scale(0.3) translate(-50%, -50%);
	  	transform-origin: 50% 50%;
	  	display: inline-block;
	  	content: '\f00e';
	  	font-family: FontAwesome;
	  	transition: .25s ease-in;
	  	opacity: 0;
	  	color: #fff;
	 	z-index: 2;
	  	font-size: 22px;
	}

	.lg-thumb[href] img {
	  	display: block;
	}

	.lg-thumb[href]:hover:before {
	  	transform-origin: 50% 50%;
	  	transform: scale(1) translate(-50%, -50%);
	  	opacity: 1; 
	}
	@media (max-width: 480px) {
	  	.gallery > li {
	    	width: 100%;
	    }
	}
}


.section4 {
	padding: 100px 0;
	#gallery {
		display: flex;
		@media (max-width: 992px) {
	   		padding-bottom: 15px;
			@media (max-width: 578px) {
	   			flex-flow: column;
	   		}
	   	}
	}
	#thumbs { 
		overflow: hidden;
		width: 90px;
		@media (max-width: 992px) {
			@media (max-width: 578px) {
		   		width: auto;
		   		display: flex;
		   		justify-content: center;
		   	}
		}
	 }
	#thumbs img {
	   	border: 1px solid gray;
	   	padding: 4px;
	   	background-color: white;
	   	cursor: pointer;
	}
	#thumbs img {
		float: left;
		margin: 0 20px 20px 0;
		width: 80px;
		height: 80px;
		object-fit: cover;
		@media (max-width: 420px) {
			margin: 0 5px 5px 0;
		}
	}
	#description {
	   	background: black;
	   	color: white;
	   	position: absolute;
	  	bottom: 0;
	   	padding: 10px 20px;
	   	width: 525px;
	   	margin: 5px;
	}
	#panel { 
	    position: relative; 
	    width: 500px;
	    border: none;
	    @media (max-width: 992px) {
	    	padding-left: 50px;
		    @media (max-width: 578px) {
		   		width: auto;
		   		display: flex;
		   		justify-content: center;
		   		padding-left: 0;
		   	}
	   	}
	}
	#largeImage {
		 @media (max-width: 578px) {
		   		width: 100%;
		   		height: 100%;
		   		object-fit: cover;

		   	}
	}
	.caption {
		display: flex;
		flex-flow: column;
		.sale-s {
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 30px;
		}
		.name {
			padding: 0 50px 30px 0;
			a {
				font-size: 24px;
				color: #000;
				font-weight: bold;
				text-transform: uppercase;
				line-height: 31px;
				transition: all 0.8s ease;
			}
			a:hover {
				text-decoration: none;
				color: #f9f01c;
			}
		}
		.buy__content {
			display: flex;
			justify-content: space-between;
			.price {
				display: flex;
				flex-flow: column;
				.price-new {
					font-size: 36px;
					font-weight: bold;
					color: #000;
					padding-bottom: 15px;
				}
				.price-old {
					font-size: 14px;
				}
			}
			.prodyct-option {
				padding-bottom: 30px;
				.option {
					.group {
						background: #f6f6f6;

						.number {
							display: flex;
							align-items: center;
							margin-bottom: 6px;
							height: 30px;
							justify-content: space-around;
							cursor: pointer;
							span {
								padding: 0 5px;
								font-size: 12px;
								font-weight: bold;
							}
							input {
								border: none;
								box-shadow: none;
								background: #f6f6f6;
								padding: 0;
								text-align: center;

							}
							input:active {
								border: none;
							}
						}
						.btn-group {
							display: flex;
							flex-flow: column;
							align-items: center;
							height: 30px;
							margin-bottom: 6px;
							a {
								font-size: 12px;
								color: #000;
								font-weight: bold;
								text-decoration: none;
							}
							.toggle {
								display: flex;
								justify-content: flex-end;
								width: 100%;
								align-items: center;
							
								.fa {
									padding-left: 27%;
									padding-right: 10px;
								}
								.fa-angle-up {
									display: none;
								}
							}
							.active {
								.fa-angle-up {
									display: block;
								}
								.fa-angle-down {
									display: none;
								}
							}
							.toggle_cont {
								position: absolute;
								top: 30px;
								width: 150px;
								display: flex;
								z-index: 100;
								justify-content: space-between;
								box-shadow: none;
								background: #f6f6f6;
								li {
									display: flex;
									flex-flow: column;
									padding:0 5px;
									justify-content: center;
									align-items: center;
									width: 100%;
									background: #f6f6f6;
									border: none;
									box-shadow: none;
									z-index: 100;
									a {
										display: block;
										color: #fff;
										padding: 0;
									}
									a {
										color: #000;
									}
									a:hover {
										text-decoration: none;
										color: #c3e1bd;
									}
									a:focus {
										text-decoration: none;
										color: #c3e1bd;
									}
								}
							}
						}
					}
					.add-to-cart {
						height: 30px;
						.btn {
							font-size: 12px;
							padding: 0;
						}
					}
				}
			}
		}
		.atributes {
			display: flex;
			.details {
				padding-right: 20px;
				width: 100%;
			}
			.size {
				padding-right: 20px;
			}
			.fl-l {
				padding-right: 15px;
				.title {
					font-size: 15px;
					font-weight: bold;
					color: #000;
				}
				.descr {
					font-size: 15px;
					color: #585858;
					text-align: left;
				}
			}
		}
	}
}
.section5 {
	padding: 100px 0;
	background-image: url( '../images/Resize-Slices17_12.jpg');
	.testimonials {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: center;
		text-align: center;
		.testimonials-circle {
			width: 95px;
			height: 95px;
			border-radius: 50%;
			background: #f9f01c;
			position: absolute;
			top: -15px;
			display: inline-block;
			z-index: 1;
		}
		h6 {
			text-transform: uppercase;
			font-weight: bold;
			z-index: 2;
		}
		p {
			font-size: 18px;
			padding-bottom: 20px;
		}
		h5 {
			font-weight: bold;
		}
		.testimonials-item {
			padding: 15px 0;
			z-index: 2;
		}
	}
}
.section-spritespin {
	background: #f6f6f6;
	padding: 100px 0;
	.tm-spritespin {
		.box-heading {
			padding-bottom: 40px;
			h5 {
				text-transform: uppercase;
				font-weight: bold;
				padding-bottom: 30px;
			}
		}
		.box-content {

			.spritespin_inner {
				position: relative;
				margin: 0 50px;
				display: flex;
				flex-flow: column;
				align-items: center;
				.spritespin {
					@media(max-width: 480px) {
					width: 300px !important;
					height: 300px !important;
					}
				}
				h5 {
					font-weight: bold;
				}
			}
			.spritespin_inner:before{
				position: absolute;
				bottom: 70px;
				left: 0;
    			right: 0;
				display: block;
				border: 6px solid #fff;
				height: 300px;
				width: 100%;
				content: " ";
				border-radius: 50%;
				@media(max-width: 768px) {
					height: 250px;
					@media(max-width: 480px) {
						height: 170px;
					}
				}
			}
			span {
				position: relative;
				width: 50px;
				height: 50px;
				background:  #f9f01c;
				border-radius: 50%;
				text-align: center;
				font-size: 24px;
				bottom: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #000;
				.fa {
					color: #000;
				}
				.fa-long-arrow-left {
					position: absolute;
					left: -40px;

				}
				.fa-long-arrow-right {
					position: absolute;
					right: -40px;
				}
			}
		}
	}
}
.section-product {
	padding: 100px 0;
	.box-heading {
		h5 {
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 40px;
		}
		h1 {
			padding-bottom: 50px;
		}

	}
	.product-layout {
		margin: 20px 0 20px 0;
		@media (max-width: 576px) {
		display: flex;
		justify-content: center;
	    }
	    .header {
	    	@media (max-width: 576px) {
	    		justify-content: space-around !important;
	    	}
	    }
		.caption {
	    	display: flex;
	    	align-items: center;
	    	.price {
	    		width: 100%;
	    		display: flex;
	    		justify-content: space-between;
	    		margin: 10px 0;
	    	}
			.btn{
				font-size: 12px;
				line-height: 12px;
			}
		}
	}
}
.section-newsletter {
	background: #f6f6f6;
	height: 160px;
	@media (max-width: 480px){
		height: 220px;
	}
	.subscription {
		display: flex;
		justify-content: space-between;
		padding-top: 55px;
		@media (max-width: 998px){
				flex-flow: column;
				padding-top: 20px;
				@media (max-width: 576px){
					margin-left: 30px;
				}
		    }
		h2 {
			font-weight: 500;
			padding-right: 30px;
			display: flex;
			align-items: center;
			@media (max-width: 998px){
				padding-bottom: 20px;
		    }
		}
		.login-form {
			display: flex;
			width: 100%;
			justify-content: space-between;
			@media (max-width: 480px){
				flex-flow: column;
				
			}

			input {
				width: 80%;
				border: none;
				padding-left: 40px;
				height: 48px;
				@media (max-width: 480px){
					margin-bottom: 30px;
					width: 90%;
				}
			}

			.button {
				height: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 30px;
				@media (max-width: 480px){
					width: 90%;
					margin: 0;
				}
			}
		}
	}
}
.section-instagram {
	display: flex;
	padding: 0 0 100px 0;
	.container {
		margin: 0;
		display: flex;
		width: 100%;
	}
	.instagram {
		width: 20%;
	}
	
	.instagram_item {
		display: flex;
		justify-content: center;
		overflow: hidden;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@media (max-width: 576px){
				width: 100%;
		    }
		}


	

		.activities {
			position: absolute;
			bottom: 30px;
			opacity: 0;
			background: rgba(0, 0, 0, 0.3);
			color: #ffffff;
			transition: all 0.3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.activities {
				opacity: 1;
				bottom: 0px;
			}
		}
	}
}
.section-blog {
	.box-heading {
		padding: 20px 0;
	}
	.list-unstyled{
		li {
			border-bottom: 1px solid #727272;
			padding: 10px 0;
			a {
				color: #000;
				transition: all 0.5s ease;
			}
			a:hover {
				color:  #c3e1bd;
				text-decoration: none;
			}
		}
		.bottom {
			border: none;
		}
		.bottom:hover {
			text-decoration: none;
		}
	}
	.box-content {
		flex: 1 1 auto;
	    color: #727272;
	    box-sizing: border-box;
	    transition: border-color 1s ease,box-shadow 1s ease;
	    box-shadow: none;
	    .box-input {
	    	display: flex;
	    	font-size: 12px;
	    	color: #000000;

	    }
	    .box-input input {
	    	width: 100%;
	    	border: 1px solid #f6f6f6;
	    }

	    .box-input span {
	    	margin-left: -20px;
	    	justify-content: space-between;
	    }
	    h4 {
	    	padding-top: 20px;
	    }
	}
	.pagination{
		display: flex;
	   justify-content: center;
	   align-items: center;
	   align-content: center;
	  padding-bottom: 50px;
	}
	.pagination ul{
	    margin: 0;
	    padding: 0 10px 0 0;
	    font-size: 16px;
	    height: 30px;
	    display: flex;
	  	align-items: center;
	}
	.pagination li{
	    list-style-type: none;
	    display: inline;
	    background: #f6f6f6;
	    width: 30px;
	    height: 30px;
	    cursor: pointer;
	    text-align: center;

	}
	.pagination li:hover {
		background-color: #c3e1bd;
	}
	.pagination a, .pagination a:visited{
	    padding: 0 5px;
	    text-decoration: none;
	    color: #000;
	}
	.pagination a:hover, .pagination a:active{
	    color: #000;
	    background-color: #c3e1bd;
	}
	.pagination a.prevnext{
	    font-weight: bold;
	}
	.page_number {
		 display: flex;
	  	align-items: center;
	  	justify-content: center;
	    color: #000;
	    width:30px;
	    height: 30px;
	    background: #f6f6f6;
	}
	#content {
		h1 {
			padding: 20px 0;
		}
		.blog_article {
			padding: 20px 0;
			.article-image {
				@media(max-width: 768px){
					padding-bottom: 20px;
				}
			}
			.article-title {
				a {
					font-size: 24px;
					color: #000;
				}
				a:hover {
					color: #c3e1bd;
					text-decoration: none;
				}
			}
			.article-date {
				color: #000;
			}
			.article-sub-title {
				padding-bottom: 10px;
				.article-coments {
					padding-right: 20px;
				}
				a {
					color: #000;
					font-size: 18px;
				}
				a:hover {
					color: #c3e1bd;
					text-decoration: none;
				}
			}
			.article-description {
				padding-bottom: 20px;
				p {
					font-size: 18px;
				}
			}
		}
	}
}
.section-check-in {
	#content{
		padding: 50px 0;
		p {
			color: #485369;
			font-size: 16px;
			padding: 10px 0;
			a {
				color: #c3e1bd;
			}
		}
		legend {
				color: #000;
			}
		fieldset {
			padding-top: 10px;
		}
		label {
			font-size: 12px;
			white-space:nowrap;

		}

		.form-group {
			display: flex;
			.control-label:after {
				content: '*';
				color: red;
				padding-left: 5px;
			}
			input-fax {
				content: none;
			}
			input {
				border: none;
				background: #f6f6f6;
			}

			.control-label-subscribe:after {
				content: '';
			}
			.control-label-fax:after {
				content: '';
			}
			.control-label-company:after {
				content: '';
			}
			.control-label-address-2:after {
				content: '';
			}
			.radio-inline {
				padding: 0 10px;
			}			
		}
		
	}
	.buttons {
		.agree {
			color: #485369;
			transition: all 0.5s ease;
		}
		.agree:hover {
			color: #c3e1bd;
			text-decoration: none;
		}

	}
}
.section-returns {
	#content{
		padding: 50px 0;
		p {
			color: #485369;
			font-size: 16px;
			padding: 10px 0;
			
		}
		legend {
				color: #000;
			}
		fieldset {
			padding-top: 10px;
		}
		label {
			font-size: 12px;
			@media (max-width: 768px) {
				display: inline-block;
				white-space:nowrap;
			}
		}
		input {
			padding-left: 20px;
		}

		textarea {
			width: 100%;
			height: 200px;
			background: #f6f6f6;
			border: none;
			padding-left: 20px;
		}
		.required {
			.control-label:after {
				content: '*';
				color: red;
				padding-left: 5px;
			}
		}
		.required-return {
			.radio {
				position: relative;
				display: flex;
				align-items: center;
				margin: 0;
			}
			label {
				position: relative;
			}
			input {
				position: absolute;
				margin: 0;
				display: none;
			}
			input[type="radio"] + label:before {
			    top: 7px;
			    left: 0;
			    width: 16px;
			    height: 16px;
			    border: 1px solid #e7e7e7;
			    background: #fff;
			}
			input[type="radio"] + label:before, input[type="radio"] + label:after {
			    content: '';
			    position: absolute;
			    border-radius: 50%;
			    box-sizing: border-box;
			}
			input[type="radio"]:checked + label:after {
   	 			background: #f9f01c;
			}
			input[type="radio"] + label:after {
			    top: 10px;
			    left: 3px;
			    width: 10px;
			    height: 10px;
			}	
		}
		.required-opened {
			.radio {
				position: relative;
				display: flex;
				align-items: center;
				margin: 0;
			}
			.product-opened {
				display: flex;
			}
			.placeholder:active {
				display: none;
			}
			input {
				position: absolute;
				margin: 0;
				display: none;
			}
			input[type="radio"] + label:before {
			    top: 7px;
			    left: 0;
			    width: 16px;
			    height: 16px;
			    border: 1px solid #e7e7e7;
			    background: #fff;
			}
			input[type="radio"] + label:before, input[type="radio"] + label:after {
			    content: '';
			    position: absolute;
			    border-radius: 50%;
			    box-sizing: border-box;
			}
			input[type="radio"]:checked + label:after {
   	 			background: #f9f01c;
			}
			input[type="radio"] + label:after {
			    top: 10px;
			    left: 3px;
			    width: 10px;
			    height: 10px;
			}	
		}
		.form-group {
			display: flex;
			
			@media (max-width: 768px) {
				flex-flow: column;
			}
			input {
				border: none;
				background: #f6f6f6;
			}
			.radio-inline {
				padding: 0 20px;
			}	
			.quant {
				width: 40px;
				padding: 0;
				display: flex;
				text-align: center;
			}		
		}
		
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		.agree {
			color: #485369;
			transition: all 0.5s ease;
		}
		.agree:hover {
			color: #c3e1bd;
			text-decoration: none;
		}

	}

}
.section-login {
	#content {
		padding-bottom: 50px;
		.customer {
			display: flex;
			flex-flow: column;
			padding: 20px;
			height: 510px;
			border: 1px solid #e7e7e7;
			border-radius: 5px;
			border-top: 2px solid #f9f01c;
			h1 {
				padding-bottom: 20px;
				text-transform: capitalize;
			}
			h4 {
				color: #485369;
				padding-bottom: 20px;
			}
			p {
				font-size: 18px;
				padding-bottom: 20px;
				color: #485369;
			}
			label {
				font-size: 12px;
				padding-bottom: 10px;
			}
			input {
				border: none;
				background: #f6f6f6; 
			}
			.forgotten {
				color: #485369;
				padding-bottom: 20px;
			}
			.forgotten:hover {
				color: #c3e1bd;
				text-decoration: none;
			}
			.forgotten:focus {
				color: #c3e1bd;
				text-decoration: none;
			}
			.form-group {
				margin-bottom: 20px;
			}
		}
	}
}
.section-contact {
	.container {
		h2 {
			padding: 20px 0;
		}
		h4 {
			padding-top: 20px;
		}
	}
	.panel {
		border: none;
		padding-bottom: 20px;
	}
	.panel-default {
		margin-top: 40px;
		.info {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			@media(max-width: 768px) {
				padding-bottom: 20px;
			}
			i {
				padding:10px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid #c3e1bd;
				color: #c3e1bd;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 20px;
				font-size: 25px;
			}
			.info2 {
				font-size: 12px;
				strong {
					line-height: 20px;
				}
				a {
					color: #485369;

				}
				a:hover {
					color: #ffb400;
					text-decoration: none;
				}
			}
			.company {
				@media(max-width: 768px) {
					padding-left: 70px;
				}
			}
		}
		strong {
			font-size: 16px;
			color: #485369;
		}
		h6 {
			color: #485369;
			
		}
	}
	.message {
		padding-top: 20px;
		label {
			font-size: 12px;
		}
		.required {
			color: red;
			font-size: 1.5em;
		}
		textarea {
			width: 100%;
			height: 150px;
			border: none;
			background: #f6f6f6;
		}
		input {
			border: none;
			background: #f6f6f6;
		}
	}
	.accubuttons {
		padding: 10px 0 60px 0;
		float: right;
		a {
			padding: 10px 50px;
			font-weight: bold;
		}
	}
	.control-label {
		float: right;
	}
}
.section-about {
	p {
		color: #485369;
		font-size: 18px;
		text-align: center;
	}
	.article-image {
		overflow: hidden;
		@media (max-width: 576px){
			display: flex;
			justify-content: center;
		}
		img {
			cursor: pointer;
			transition: all 1s ease

		}
		img:hover {
			transform: scale(1.2);
		}
	}
	.box-heading {
		padding: 15px 0 50px 0;
		h3 {
			text-transform: uppercase;
		}
		h4 {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 20px 0;
		}
	}
	.box-content {
		padding-top: 30px;
		a {
			color: #000;
			text-transform: uppercase;
			align-items: center;
			text-decoration: none;
		}
		a:hover {
			color: #ffb400;
		}
		p {
			text-align: center;
		}
	}
	.box-info {
		h4 {
			padding: 30px 0;
		}
		h3 {
			padding: 30px 0;
		}
		.count-box {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			strong {
				color: #f9f01c;
				font-size: 60px;
				padding-bottom: 30px; 
				font-weight: 500;
				@media(max-width: 768px){
					padding: 30px;
				}
			}
		}
		.icon-box {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			i {
				width: 120px;
				height: 120px;
				font-size: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				border: 3px solid #f9f01c;
				color: #f9f01c;
			}
			h5 {
				padding: 20px 0;
			}
		}
	}
	.box-testimonials {
		padding: 50px 0;
	}
	.testimonials {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: center;
		text-align: center;
		.testimonials-circle {
			width: 95px;
			height: 95px;
			border-radius: 50%;
			background: #f9f01c;
			position: absolute;
			top: -15px;
			display: inline-block;
			z-index: 1;
		}
		h6 {
			text-transform: uppercase;
			font-weight: bold;
			z-index: 2;
		}
		p {
			font-size: 18px;
			padding-bottom: 20px;
		}
		h5 {
			font-weight: bold;
		}
		.testimonials-item {
			padding: 15px 0;
			z-index: 2;
		}
		.testimonials-item:after {
			width: 100px;
			height:100px;
			border-radius: 50%;
			background: #f9f01c;
			position: absolute;
			top: -15px;
			display: inline-block;
			z-index: 1;
		}
	}
}

.section-privacy-policy {
	h1 {
		text-transform: capitalize;
		font-size: 24px;
	}
	hr {
		padding-bottom: 20px;
	}
	.privacy_page {
		padding-bottom: 100px;
		ol {
			list-style-type: none;
		    counter-reset: list 0;
		    padding-left: 0px;
			li {
				counter-increment: list 1;
				h4 {
					font-size: 14px;
				    line-height: 21px;
				    font-weight: 700;
				    text-transform: uppercase;
				    letter-spacing: 1.4px;
				    margin-bottom: 15px;
				}
				h4:before {
					content: counter(list);
				    display: inline-block;
				    margin-right: 15px;
				    width: 40px;
				    height: 40px;
				    line-height: 38px;
				    text-align: center;
				    color: #000;
				    font-size: 16px;
				    text-indent: 2px;
				    box-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0px inset;
				    background: #f9f01c;
				    border-radius: 50%;
				}
				p {
					font-size: 14px;
					font-weight: 400;
					padding-bottom: 15px;
					color: rgb(72, 83, 105);
				}
			}
		}
	}
}
.section-delivery {
	padding-bottom: 100px;
	hr {
		padding-bottom: 15px;
	}
	h1 {
		text-transform: capitalize;
		font-size: 24px;
	}
	h3 {
		text-transform: capitalize;
		padding: 15px 0;
	}
	h4 {
		padding-bottom: 15px;
	}
	p {
		padding-bottom: 15px;
		font-size: 12px;
	}
	.table-responsive {
		min-width: 320px;
		overflow: scroll;
	}
	.delivery_page .table tbody td:first-child {
    	font-weight: 700;
	}
	.delivery_page .table tbody td:last-child {
    	font-weight: 700;
    	color: #000;
	}
	.table-bordered {
		border-top: 2px solid #000;
		thead {
			font-weight: bold;
			color: #000;
		}
	}
}
.section-terms-conditions {
	padding-bottom: 100px;
	hr {
		padding-bottom: 25px;
	}
	h1 {
		text-transform: capitalize;
		font-size: 24px;
		line-height: 24px;
	}
	h4 {
		text-transform: uppercase;
		font-size: 16px;
		position: relative;
		padding-left: 60px;
	}
	h4:before {
		content: '\f046';
		color: #f9f01c;
		font-size: 40px;
		position: absolute;
		left: 0;
	}
	p {
		font-size: 14px;
		font-weight: 400;
		padding: 15px 0;
		color: rgb(72, 83, 105);
	}
}
footer {
	background: #fff;
	color: #000;
	position: relative;
	h3 {
		color: #000;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		color: #000;
		font-size: 10px;
		line-height: 18px;
		transition: all 0.5s ease;
		text-transform: capitalize;
	}
	a:hover {
		color: #e9b32d;
		text-decoration: none;

	}
	h4 {
		color: #000;
		font-size: 10px;
		line-height: 18px;
		font-weight: normal;
	}
	.menu-footer {
		.btn-group {
			display: flex;
			flex-flow: column;
			a {
				padding: 6px 0
			}
		}
		.toggle_cont {
			position: absolute;
			top: 60px;
			width: 250px;
			background: #333;
			display: flex;
			z-index: 100;
			justify-content: space-between;
			li {
				display: flex;
				flex-flow: column;
				padding:0 5px;
				.brand {
					display: block;
					color: #fff;
				}
				.brand:hover {
					color: #c3e1bd;
				}
				.brand:active {
					text-decoration: none;
					color: #c3e1bd;
				}
				.brand-top {
					padding-bottom: 8px;
					color: #c3e1bd;
				}
				.brand-top:hover {
					color: #fff;
				}
			}
		}
	}
	.social-list {
		display: flex;
		justify-content: flex-start;
		list-style: none;
		padding: 10px 0;

		.icon-item {
			display: flex;
			justify-content: center;
			position: relative;
			padding: 0 10px;
			font-weight:400;
			font-size: 20px;

			&:hover {
				.name {
					top: -200%;
					opacity: 1;

				}
			}

			a {
				font-size: 20px;
			}

			.name {
				position: absolute;
				z-index: 4;
				padding: 5px 10px;
				top: -250%;
				opacity: 0;
				font-size: 14px;
				line-height: 20px;
				background: #ffb400;
				box-shadow: 0 0 30px rgba(0,0,0,.2);
				box-sizing: border-box;
				border-radius: 5px;
				transition: opacity 0.2s cubic-bezier(.5,.12,.46,.88),
							top 0.4s cubic-bezier(.5,.12,.46,.88);

				&:after {
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					bottom: -5px;
					left: 50%;
					margin-left: -3px;
					border-color: #ffb400 transparent transparent transparent;
					content: '';
				}
			}
		}
	}
	.footer_bottom {
		height: 100px;
		background: #333;
		display: flex;
		.container {
			display: flex;
			align-items: center;
			align-content: center;
			h3 {
				text-transform: capitalize;
				font-size: 18px;
				color: #fff;
				font-weight: 500;
			}
			a {
				text-transform: capitalize;
				font-size: 18px;
				color: #fff;
				padding: 0 5px;
			}
			a:hover {
				 color: #c3e1bd;
			}
			a:active {
				text-decoration: none;
				color: #c3e1bd;
			}
		}
	}
}
#product-content {
		padding-bottom: 100px;
		p {
			color: #485369;
			line-height: 24px;
			margin-bottom: 10px;
			font-size: 18px;
		}
		h3 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 20px;
		}
		hr {
			margin: 10px 0;
			border-top: 1px solid #eee;
		}
		.box-content {
			.article-image {
				display: flex;
				justify-content: center;
			}
			p {
				position: relative;
			}
		}
		.product-filter_elem {
			display: flex;
			justify-content: space-between;
			margin: 10px 0 40px 0;
			align-items: center;
			@media (max-width: 500px){
				flex-flow: column;
			}
			.holder {
				border: 1px solid #727272;
				@media (max-width: 500px){
					margin: 15px 0;
				}
			}

			.holder a {
				font-size: 16px;
				cursor: pointer;
				margin: 0 5px;
				color: #333;
				font-weight: bold;
			}

			.holder a:hover {
				background-color: #222;
				color: #fff;
			}

			.holder a.jp-previous { margin-right: 15px; }
			.holder a.jp-next { margin-left: 15px; }

			.holder a.jp-current, a.jp-current:hover { 
				color: #FF4242;
				font-weight: bold;
			}

			.holder a.jp-disabled, a.jp-disabled:hover {
				color: #bbb;
			}

			.holder a.jp-current, a.jp-current:hover,
			.holder a.jp-disabled, a.jp-disabled:hover {
				cursor: default; 
				background: none;
			}

			.holder span { margin: 0 5px; 
			}
			form {
				label {
					font-size: 12px;
					color: #000;
					padding-left: 20px;
				}
				select {
						font-size: 12px;
						padding: 9px 0;
					}
			}
			
		}
}
#product-itemContainer {
		.product-layout {
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd;
			margin: 20px 0 20px 0;
				@media (max-width: 579px) {
					display: flex;
					justify-content: center;
				}
			.product-thumb {
				width: 100%;
				height: 100%;
			}
			.image {
				.box{

				  position:relative;
				  width: 100%;
				  height: 300px;
				  display: flex;
				  justify-content: center;
				  align-items: center;
				  text-align: center;
				  	.header {
				  		width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						display: flex;
						justify-content: space-between;
						font-size: 10px;
						line-height: 15px;
						float: top;
						z-index: 900;
						span {
							color: #fff;
							width: 40px;
							height: 30px;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
						}
						.sale {
							background: #f9f01c;
							color: #000;
						}
						.new {
							background: #727272;
							color: #000;
						}
						.model {
							color: #000;
							font-size: 18px;
							font-weight: 500;
							@media (max-width: 768px){
								font-size: 12px;
							}
						}
					}
				}

				.box img {

				  position:absolute; /* абсолютное позиционирование*/

				  left: 0; /* выравниваем картинки по левому верхнему углу div-а*/

				  top: 0; /* выравниваем картинки по левому верхнему углу div-а */  
				  width: 100%;
				  height: 85%;
				  object-fit: contain;
				  margin-top: 40px;
				}
				.box img.first { /* первая картинка полностью прозрачная */

				  opacity:0;

				  filter:alpha (opacity=0);

				}
				.box:hover img.first { /* при наведении курсора первая картинка становится не прозрачной */

				  opacity:1;

				  filter:alpha (opacity=100);

				}

				.box:hover img.second, .box img.second:hover { /* а вторая при наведении курсора становится прозрачной */

				  	opacity:0;

				  	filter:alpha (opacity=0);
				  	transition: all 0.5s ease;
				}
				
				.box-content{
				    width: 100%;
				    position: absolute;
				    top: 50%;
				    left: 0;
				    z-index: 1;
				    transform: translateY(-50%) scale(0);
				    transition: all 0.3s ease-in 0.3s;
				}
				.box-content{ 
					transform: translateY(-50%) scale(1);
					height: 100%;
				}
				.box .icon{
				    list-style: none;
				    padding: 0;
				    margin: 0;
				    opacity: 0;
				    height: 100%;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    transition: all 2s ease;
				}
				.box .icon:hover {
					opacity: 1;
					transition: all 2s ease;
				}
				.box .icon li{ 
					display: inline-block;
				 }
				.box .icon li a{
				    display: block;
				    width: 40px;
				    height: 40px;
				    line-height: 40px;
				    border-radius: 50%;
				    background: #fff;
				    font-size: 18px;
				    color: #000;
				    margin-right: 10px;
				    transition: all 0.3s ease 0s;
				}
				.box .icon li a:hover{ 
					transform: rotate(360deg);
					text-decoration: none;
					background: #f9f01c;
				}
				.box .icon li a:active {
					text-decoration: none;
				}
				@media only screen and (max-width:990px){
					.box{ margin-bottom: 20px; 
					}
				}
			}
			
			
			.caption {
				display: flex;
				flex-flow: column;
				.name {
					display: flex;
					flex-flow: column;
					align-items: center;
					a {
						font-size: 11px;
						line-height: 20px;
						text-transform: uppercase;
						font-weight: bold;
						color: #000;
						text-decoration: none;
					}
					a:hover {
						color: #ffb400;
					}
				}
				.price {
					display: flex;
					justify-content: space-around;
					span {
						font-size: 14px;
						font-weight: bold;
						color: #000;
					}
					.price-old {
						text-decoration: line-through;
					}
					.discount {
						span {
							color: red;
						}
					}
				}
				.description {
					display: none;
				}
			}
		}
		.product-list {
			padding: 20px 15px;
			width: 100%;
			display: flex;
			border: none;
			border-bottom: 1px solid #ddd;
			margin: 0;
			.product-thumb {
				display: flex;
				.image {
					width:30%;
					@media (max-width: 500px){
						width: 40%;
					}
					img {
						width: 100%;
					}
					.button-group {
						position: relative;
						opacity: 1;

					}
				}
				.caption {
					padding-left: 20px;
					width:70%;
					display: flex;
					justify-content: flex-start;
					@media (max-width: 500px){
						width: 60%;
					}
					.description {
						display: flex;
						font-size: 12px;
						line-height: 20px;
						color: #333;
					}
					.price {
						justify-content: flex-start;
						span {
							padding-right: 20px;
						}
					}
					.name {
						flex-flow: row nowrap;
						a {
							padding-right: 20px;
						}
					}
				}
			}
			
		}
}
.breadgrumb {
	list-style: none;
	display: flex;
	align-items: center;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 15px 0 40px 0;
	li {
		position: relative;
		font-size: 10px;
		padding-right: 10px;
		a {
			color: #7a7f84;

		}
	}
	span {
		font-size: 12px;
		text-transform: capitalize;
		padding-right: 10px;
	}
	.fa-home {
		font-size: 18px;
		padding-top: 10px;
	}
}


/*button////////////////*/
.btn{
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    transition: all 0.4s ease 0s;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 0;
    width: 150px;

	}
	.btn:before,
	.btn:after{
	    content: "";
	    width: 0;
	    height: 3px;
	    background: #fff;
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    transition: all 0.4s ease 0s;
	}
	.btn:after{
	    top: auto;
	    left: auto;
	    bottom: 5px;
	    right: 5px;
	}
	.btn:hover:before,
	.btn:hover:after{
	    width: 50%;
	}
	.btn.btn-sm:before,
	.btn.btn-sm:after{
	    height: 2px;
	    top: 3px;
	}
	.btn.btn-sm:after{
	    top: auto;
	    bottom: 3px;
	}
	.btn.btn-xs:before,
	.btn.btn-xs:after{
	    height: 1px;
	    top: 2px;
	}
	.btn.btn-xs:after{
	    top: auto;
	    bottom: 2px;
	}
	.btn.color{
	    color: #fff;
	    background: #333;
	}
	.btn.color.inverted {
		background: #f9f01c;
	    color: #000;
	}
	.btn.color:hover{
	    background: #f9f01c;
	    color: #000;
	}
	.btn.color.inverted:hover {
		color: #fff;
	    background: #333;
	}

	/*.button {
		display: inline-block;
		text-align: center;
		font-size: 14px;
		padding: 10px 0;
		font-weight: bold;
		width: 150px;
		border: none;
		background: none;
		color: inherit;
		vertical-align: middle;
		position: relative;
		z-index: 1;
		color: #fff;
		background: #333333;
		text-transform: uppercase;
	}
	.button.inverted {
		color: #000;
		background: #f9f01c;
	}
	.button-primary {
		transition: border-color 0.4s, color 0.4s;
	}
	.button-primary::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f9f01c;
		z-index: -1;
		opacity: 0;
		transform: scale3d(0.1, 1, 1);
		transition: transform 0.6s, opacity 0.6s;
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

	}
	.button-primary.inverted::before {
		background:  #333333;
		color: #000;

	}
	.button-primary,
	.button-primary::before {
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	.button-primary:hover {
		color: #000;
		border-color: #000;
		text-decoration: none;

	}
	.button-primary.inverted:hover {
		color: #fff;
		border-color: #fff;
	}
	.button-primary:hover::before {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}*/
.bottom_top {
	a {
		text-decoration: none;
	
	}
	.ui-to-top {
	    width: 38px;
	    height: 38px;
	    font-size: 24px;
	    line-height: 33px;
	    background: #fff;
	    color: #000;
	    border-radius: 50%;
	    position: fixed;
	    right: 10%;
	    bottom: 65px;
	    overflow: hidden;
	    text-align: center;
	    list-style: none;
	    z-index: 20;
	    border: 1px solid #c3e1bd;
	}
	.ui-to-top:hover {
		color: #c3e1bd;
	}
	.ui-to-top:active {
	 	background: #000;
	 	color: #fff;

	}
}

